html, body {
  height: 96% !important;
  margin: 0 !important;
}

body {
  background-color: #fff;
  overflow: hidden;
}


table {
  height: 100%;
  width: 100%;
}

#blockEditor {
  height: 100%;
  width: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blocklyTreeLabel {
  /* color: #343a40 ; */
	font-weight: bold;
}


/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: .5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  padding: 5px 5px;
	height: auto !important;
	width: auto !important;
  margin: 0.3em 0.8em;
  border-radius: 4px;
	background-color: #198754 !important;
	color: #fff !important;
	font-size: x-small !important;
  font-weight: bold;
}

.blocklyTreeRow:hover {
	background-color: #343a40 !important;
	color: #fff !important;
}

div.blocklyTreeRow.blocklyTreeSelected {
	background-color: #343a40 !important;
	color: #fff !important;
}

.blocklyTreeSeparator {
	background-color: none !important;
	border-color: transparent !important;
	margin: 5px 0 !important;
	color: none !important;
}

/* Changes color of the icon to white. */

/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocklyTreeRoot {
  width: auto !important;
}


#textareaTerminal {
	background-color: #000;
	border: 1px solid #000;
	color: #20c997;
	padding: 8px;
	height: 100%;
	font-family: courier new;
}